name: Publish to PyPI

on:
  release:
    types: [published]

jobs:
  publish-envoi:
    name: Publish envoi
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - run: pip install build
      - run: python -m build
        working-directory: packages/envoi
      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: packages/envoi/dist/
